
/* Styles pour la classe page-content */
.page-content {
    flex: 1;
    padding: 20px; /* Ajuste le padding selon tes besoins */
    overflow-y: auto; /* Pour permettre le défilement si le contenu dépasse la hauteur de la fenêtre */
    background-color: #f4f4f9; /* Optionnel : couleur de fond pour différencier du side-nav */
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    background: #edf2f7;
}

.side-nav {
    width: 250px; /* Ajuste la largeur selon tes besoins */
    background-color: cyan;
    transition: width 0.3s; /* Transition douce pour les animations */
}


